////
/// @group helpers
////

@import "../tools/exports";

/// Font Face - Montserrat
///
/// Outputs the font-face declaration for Montserrat at the root of the CSS document
/// the first time it is called.
///
/// @access private

@mixin _city-font-face-gds-transport {
  @include city-exports("city/helpers/font-faces") {
    @at-root {
      @font-face {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        src:
          city-font-url("Montserrat-Regular.woff2") format("woff2"),
          city-font-url("Montserrat-Regular.woff") format("woff");
        font-display: fallback;
      }

      @font-face {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        src:
          city-font-url("Montserrat-Bold.woff2") format("woff2"),
          city-font-url("Montserrat-Bold.woff") format("woff");
        font-display: fallback;
      }
    }
  }
}
